#contact-title {
    background-color: #f0b4ff;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
    width: 185px;
    font-size: 35px;
    margin: 40px 40px;
    padding: 10px;
    border-radius: 10px;
}

.contact-container {
    box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
    background-color: #E9E5F5;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#contact-par {
    max-width: 550px;
    margin-left: 40px;
    font-size: 18px;
}

.contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
}

.linkedin-contact, .email-contact, .instagram-contact, .discord-contact, .github-contact {
    padding: 20px;
    font-size: 30px;
    transition: 0.3s;
}

.linkedin-contact:hover, .email-contact:hover, .instagram-contact:hover, .discord-contact:hover, .github-contact:hover {
    background-color: #f0b4ff;
    transition: 0.1s;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
    font-size: 32px;
}

@media only screen and (max-width: 750px;) {
    .contact-links {
        display: flex;
        flex-direction: column;
        
    }
}