#experience-hero-pic {
  width: 100%;
  box-shadow: 10px 5px 20px rgb(0 0 0 / 50%);
}

.hero-experience-section {
  position: relative;
}

#experience-title {
  position: absolute;
  margin-left: 40px;
  top: 20vw;
  background-color: #f0b4ff;
  width: 30vw;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
  border: 1px solid;
  font-size: 4vw;
  opacity: 0.8;
  padding: 10px 25px 10px 25px;
}

@media only screen and (max-width: 750px) {
  #experience-title {
    top: 260px;
  }
}

#cse-title,
#SRA-title,
#csp-title,
#launch-code-title,
#caps-title,
#farottos-title {
  font-size: 30px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  padding-bottom: 10px;
}

.cse-content,
.SRA-content,
.csp-content,
.launch-code-content,
.stlcaps-content,
.farottos-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.experience-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  align-content: space-between;
  background-color: #313639;
  margin: 20px 0;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
  padding: 40px;
  color: white;
}
