/* .hero-experience-section {
    align-items: center;
    justify-content: center;
    
} 


#experience-title {
    position: flex;
    margin-left: 40px;
    background-color: #f0b4ff;
    width: 370px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
    border: 1px solid;
    font-size: 50px;
    opacity: 0.8;
    padding: 10px 25px 10px 25px;
}

#experience-hero-pic {
    width: 100%;
    filter: blur(3px);
} */

#experience-hero-pic {
  width: 100%;
  filter: blur(3px);
  box-shadow: 10px 5px 20px rgb(0 0 0 / 50%);
}

.hero-experience-section {
  position: relative;
}

#experience-title {
  position: absolute;
  margin-left: 40px;
  top: 20vw;
  background-color: #f0b4ff;
  width: 30vw;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
  border: 1px solid;
  font-size: 4vw;
  opacity: 0.8;
  padding: 10px 25px 10px 25px;
}

@media only screen and (max-width: 750px) {
  #experience-title {
    top: 260px;
  }
}

#cse-title, #csp-title, #launch-code-title, #caps-title {
  font-size: 30px;
}

#launch-code-title {
  padding-bottom: 10px;
}

.cse-content,
.csp-content,
.launch-code-content,
.stlcaps-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}



.experience-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  align-content: space-between;
  background-color: #E9E5F5;
  margin: 20px 0;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
  padding: 40px;
}


