.hero-experience-section {
    align-items: center;
    justify-content: center;
    
} 


#experience-title {
    position: flex;
    margin-left: 40px;
    background-color: #f0b4ff;
    width: 370px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
    border: 1px solid;
    font-size: 50px;
    opacity: 0.8;
    padding: 10px 25px 10px 25px;
}

#experience-hero-pic {
    width: 100%;
    filter: blur(3px);
}

.cse-content, .csp-content, .launch-code-content, .stlcaps-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.experience-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}