#future-hero {
    width: auto;
}

.future-section, .future-colleges{
    background-color: #E9E5F5;
    padding: 20px;
}

#college-title {
    padding:20px;
    background-color: #F0B4FF;
    width: 180px;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);

}

.mosandt, .tulsa, .urbana {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.mosandt {
    font-size: 15px;
}

.tulsa {
    font-size: 20px;
}

.urbana {
    font-size: 18px;
}

#sandt-pic, #urbana-pic {
    width: 300px;
}

#tulsa-pic {
    width: 400px;
    
}

#urbana-pic {
    padding-left: 30px;
}

.colleges {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#career-title {
    padding:20px;
    background-color: #F0B4FF;
    width: 255px;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
}