#future-hero {
  width: 100%;
  filter: blur(3px);
  box-shadow: 10px 5px 20px rgb(0 0 0 / 50%);
}

.future-hero-content {
  display: flex;
  align-items: center;
}

#future-title {
  position: absolute;
  margin-left: 40px;
  background-color: #f0b4ff;
  width: 20vw;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
  border: 1px solid;
  font-size: 4vw;
  opacity: 0.8;
  padding: 10px 25px 10px 25px;
}

@media only screen and (max-width: 750px) {
  #future-title {
    top: 10vw;
  }
}

.future-colleges {
  background-color: #e9e5f5;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 10px 5px 20px rgb(0 0 0 / 50%);
}

#college-title {
  padding: 20px;
  background-color: #f0b4ff;
  width: 180px;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
}

.mosandt-btn, .tulsa-btn, .urbana-btn {
  background-color: #B4F6FF;
  border-color: #B4F6FF;
  color: black;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
}

.mosandt-card, .urbana-card, .tulsa-card {
  background-color: #f0b4ff;
}

.mosandt,
.tulsa,
.urbana {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.mosandt {
  font-size: 15px;
}

.tulsa {
  font-size: 20px;
}

.urbana {
  font-size: 18px;
}

#sandt-pic,
#urbana-pic {
  width: 300px;
}

#tulsa-pic {
  width: 400px;
}

#urbana-pic {
  padding-left: 30px;
}

.colleges {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 750px) {
  .colleges, .careers {
    flex-wrap: wrap;
  }

}

.future-careers-sect {
    background-color: #e9e5f5;
    padding: 20px 20px 30px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
}

#career-title {
  padding: 20px;
  background-color: #f0b4ff;
  width: 255px;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
}

.video-game-dev,
.comp-sci-field {
  display: flex;
  flex-direction: column;
}
.comp-sci-field{
    font-size: 20px;
}

.careers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
 
}

#game-programmer-pic {
    width: 400px;
    margin-right: 50px;
}

#comp-sci-pic {
    width: 475px;
}