#future-hero {
  width: 100%;
  filter: blur(3px);
  box-shadow: 10px 5px 20px rgb(0 0 0 / 50%);
}

.future-hero-content {
  display: flex;
  align-items: center;
  justify-content: right;
}

#future-title {
  position: absolute;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #f0b4ff;
  width: 20vw;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
  border: 1px solid;
  font-size: 4vw;
  opacity: 0.8;
  padding: 10px 25px 10px 25px;
}

@media only screen and (max-width: 750px) {
  #future-title {
    top: 260px;
  }
}

.future-colleges {
  background-color: #e9e5f5;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 10px 5px 20px rgb(0 0 0 / 50%);
}

#college-title {
  padding: 20px;
  background-color: #f0b4ff;
  width: 600px;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 20%);
}

.mosandt,
.tulsa,
.urbana {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.mosandt {
  font-size: 15px;
}
 
.tulsa {
  font-size: 18px;
  margin-bottom: 10px;
}

.urbana {
  position: relative;
  bottom: 30px;
  font-size: 20px;
  justify-content: center;
}

#urbana-title {
  max-width: 250px;
  padding-left: 30px;
}

#sandt-pic,
#urbana-pic {
  width: 300px;
}

#tulsa-pic {
  width: 300px;
}

#urbana-pic {
  padding-left: 30px;
}

.colleges {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 750px) {
  .colleges, .careers {
    flex-wrap: wrap;
  }

}

.future-careers-sect {
    background-color: #e9e5f5;
    padding: 20px 20px 30px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
}

#career-title {
  padding: 20px;
  background-color: #f0b4ff;
  width: 600px;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 20%);
}

.video-game-dev,
.comp-sci-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}
.comp-sci-field{
    font-size: 22px;
    position: relative;
    bottom: 8px;
}

.careers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
 
}

#game-programmer-pic {
    width: 300px;
    margin-right: 50px;
}

#comp-sci-pic {
    width: 300px;
}