/* Website colors: 
#E9E5F5 - gray 
#F0B4FF - light purp
#ea99fd; - purp
#B4F6FF - blue
 */
.nav-bar {
    margin-bottom: 0;
}

.hobbies-hero-section {
    width: 100%;
    display: block;
    margin-top: 0;
    position:relative;
}

.hobbies-extra-div {
    position: relative;
    text-align: center;
    padding-bottom: 20px;

}

.hobbies-extra-title {
    position: absolute;
    top: 20vw;
    margin-left: 20px;
    background-color: #F0B4FF;
    width: 30vw;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
    border: 1px solid;
    font-size: 3vw;
    opacity:0.8;
}

@media only screen and (max-width: 750px) {
    #hobbies-extra-title {
      top: 10vw;
    }
  }

.hobbies-hero {
    width: 100%;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
}

.hobbies-details {
    display: flex;
    flex-direction: column;
    background-color: #E9E5F5;
    height: auto;
    padding-top: 20px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
    margin-bottom: 20px;
    align-items: center;
}

#swimming-title, #gaming-title, #working-title, #anime-title, #crochet-title{
    font-size: 25px;

}

#working-title, #anime-title {
    padding-bottom: 0;
}

.swimming, .working, .gaming, .anime, .crocheting {
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    
}

@media only screen and (max-width: 750px) {
    .swimming, .working, .gaming, .anime, .crocheting {
      flex-wrap: wrap;
    }
  
  }

.swim-text-content, .work-text-content, .game-text-content, .anime-text-content, .crochet-text-content{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    justify-content: center;
    max-width: 400px;
}

#swimming-pic {
    width: 300px;
    padding-left: 20px;

}

#gaming-pic {
    margin: 20px;
    width: 300px;

}

#work-pic {
    margin: 20px;
    width: 400px;
}

#anime-pic, #crochet-pic {
    margin: 20px;
    width: 300px;
}
