/* Website colors: 
#E9E5F5 - gray 
#F0B4FF - light purp
#ea99fd; - purp
#B4F6FF - blue
 */
.nav-bar {
    margin-bottom: 0;
}


.hobbies-hero-section {
    background-color: #E9E5F5;
    width: 100%;
    display: block;
    margin-top: 0;
    position:relative;
    height: auto;
    padding-top: 30px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.hobbies-experience-div {
    background-color: #E9E5F5 ;
    position: relative;
    text-align: center;

}

.hobbies-experience-title {
    position: absolute;
    top: 50%;
    margin-left: 20px;
    background-color: #F0B4FF;
    width: 500px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
    border: 1px solid;
    font-size: 50px;
    opacity:0.8;
}

.hobbies-hero {
    width: 100%;
    filter: blur(3px);
}

.hobbies-details {
    background-color: #E9E5F5;
    width: 100%;
    height: auto;
    padding-top: 20px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
    margin-bottom: 20px;
}

#swimming-title {
    margin-left: 33%;

}

.swimming{
    display: flex;
    flex-direction: row;
    margin: 0 300px;
    align-items: center;
}

.swim-text-content {
    display: flex;
    flex-direction: column;
}

#swimming-pic {
    width: 300px;
}

.gaming{
    display: flex;
    flex-direction: row;
    margin: 0 300px;
    align-items: center;
}

.working{
    display: flex;
    flex-direction: row;
    margin: 0 300px;
    align-items: center;
}
