/* Website colors: 
#E9E5F5 - gray 
#F0B4FF - light purp
#ea99fd; - purp
#B4F6FF - blue
 */
.nav-bar {
    margin-bottom: 0;
}
.hobbies-section {
    background-color: #E9E5F5;
    width: 100%;
    display: block;
    margin-top: 0;
    position:relative;
    height: 500px;
    padding-top: 20px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
}

.hobbies-experience-div {
    background-color: #E9E5F5 ;
}

.hobbies-experience-title {
    padding:20px;
    background-color: #F0B4FF;
    width: 340px;
    margin: 20px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
}