.projects-hero-container {
  position: relative;
}

#projects-hero-img {
  width: 100%;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
}

#projects-title {
  position: absolute;
  margin-left: 40px;
  top: 15vw;
  background-color: #f0b4ff;
  width: 22vw;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
  border: 1px solid;
  font-size: 4vw;
  opacity: 0.8;
  padding: 10px 25px 10px 25px;
}

#portfolio-title,
#cobra-title {
  max-width: 250px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313639;
  margin: 20px 0;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
  padding: 40px;
  color: white;
}

.portfolio-content,
.cobra-content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 500px;
  text-align: center;
  align-items: center;
}

